.App-header {


    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


h1 {
    font-size: 4em;
    position: relative;
    color: #1f2833;
    text-align: center;
    /*background:-webkit-linear-gradient(#e7177d,#ee4c7c,#9a1750);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
    /* top: 10vh; */
    line-height: 1.9;
    font-family: "Dancing Script", cursive;
    letter-spacing: 8px;
    font-weight: 800;
}

span {
    font-family: "Great Vibes", cursive;
    font-weight: bolder;
    color: #ee4c7c;
}

.svgimg {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    /* top: 80px; */
    font-family: "Share Tech Mono", monospace;
}

#flyflag,
#flag {
    animation: fly 1.3s infinite alternate;
}

@keyframes fly {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20px);
    }
}