@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Great+Vibes&family=Kaushan+Script&family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {

  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(238, 76, 124, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(238, 76, 124, 1) 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(238, 76, 124, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE4C7C', endColorstr='#FFFFFF', GradientType=0);

  /* ie 10+ */
  background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(238, 76, 124, 1) 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(238, 76, 124, 1) 100%);
}





.App {
  text-align: center;
}